import(Biobase)
import(Biostrings)
import(BiocInstaller)
import(RSQLite)
import(pdInfoBuilder)
import(convert)
import(marray)
import(GEOquery)
import(GEOmetadb)
import(annotate)
import(RGtk2)
import(gWidgets)
import(gWidgetsRGtk2)
import(tcltk)
import(RBGL)
import(WGCNA)
importFrom("graph","graphNEL","plot")
importFrom("grDevices","dev.off","png")
importFrom("stats","aggregate","as.dist","dist","hclust","heatmap","median","prcomp","model.matrix")
importFrom("utils","install.packages","read.delim","read.table","write.table")
importFrom("limma","lmFit","toptable","eBayes","backgroundCorrect","read.maimages",
"normalizeBetweenArrays","normalizeWithinArrays","plotMA3by2")
importFrom("affy","justRMA","read.affybatch","ReadAffy") 
importFrom("genefilter","rowSds","pOverA","genefilter") 
importFrom("simpleaffy","qc") 
importFrom("impute","impute.knn")
importFrom("oligo","read.xysfiles","list.xysfiles","rma")
importFrom("beadarray","normaliseIllumina","readBeadSummaryData")  
importFrom("lumi","lumiExpresso","lumiR")
importFrom("GOstats","hyperGTest", "htmlReport")
importFrom("globaltest","gtGO","p.value","gtKEGG","alias")
importFrom("ssize","ssize.plot","ssize","pow")
importFrom("Rgraphviz","makeNodeAttrs")
