import(RGtk2)
import(gWidgets2)
import(gWidgets2RGtk2)
import(tcltk)
import(Rgraphviz)
import(ssize)
import(Biobase)
importFrom("impute","impute.knn")
importFrom("limma","lmFit","topTable","eBayes","backgroundCorrect","read.maimages","normalizeBetweenArrays","normalizeWithinArrays","plotMA3by2")
importFrom("grDevices","colorRampPalette","dev.off","png")
importFrom("graphics","boxplot","image","layout","mtext","par")
importFrom("methods","new","as")
importFrom("stats","hclust","heatmap","median","aggregate","as.dist","dist","prcomp","model.matrix")
importFrom("utils","browseURL","read.delim","read.table","write.table","install.packages")
